body{
    font-family:'Sofia';
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}
.after:after{
    content:"";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}
input,textarea{
    font-family:'Sofia';
}
input::-webkit-input-placeholder ,textarea::-webkit-input-placeholder{/* WebKit browsers*/color: #aaa;}
input:-moz-placeholder ,textarea:-moz-placeholder{/* Mozilla Firefox 4 to 18*/color: #aaa;}
input::-moz-placeholder ,textarea::-moz-placeholder{/* Mozilla Firefox 19+*/color: #aaa;}
input:-ms-input-placeholder ,textarea:-ms-input-placeholder{/* Internet Explorer 10+*/color: #aaa;}